@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap'); /* Font Poppins */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"); /* Icones Bootstap */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --color1: #4C655F;
    --color2: #09CF64;
    --color3: #353F3D;
    --color4: #FEFEFE;
    --color5: #F0F2F5;
    --color6: #DBDBD9;
    --color7: #282A23;
    --color8: #181912;
}

body {
    background-color: var(--color5);
}

.nav-left {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color8);
    color: var(--color4);
    width: 0px;
    height: 100%;
    transition: 0.3s;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
}

.nav-left-content {
    padding: 20px;
}

.nav-left-content .close-nav {
    font-size: 1em;
    text-align: center;
    margin-top: 30px;
    border: 2px solid var(--color2);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-left-content .close-nav:hover {
    background-color: var(--color4);
    color: var(--color8);
    box-shadow: 0 0 10px #09CF64;
}

.nav-left-content .headline h1 {
    text-align: center;
    color: var(--color2);
}

.nav-left-content .headline p {
    text-align: center;
    font-size: 0.8em;
    margin-top: 7px;
}

.nav-left-content .navigation {
    margin-top: 40px;
    border-top: 2px solid #282A23;
    border-bottom: 2px solid #282A23;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-left-content .navigation a {
    text-decoration: none;
    color: var(--color6);
    border: 1px solid var(--color1);
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
    transition: 0.2s ease;
}

.nav-left-content .navigation a:hover {
    background-color: var(--color2);
    color: var(--color8);
}

.nav-left-content .social {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-left-content .social .bi {
    font-size: 1.5em;
    background-color: var(--color7);
    color: var(--color2);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-left-content .social .bi:hover {
    background-color: var(--color2);
    color: var(--color8);
}

header {
    width: 100%;
    height: 70px;
    background-color: var(--color8);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .top .bi {
    color: var(--color2);
    background-color: var(--color7);
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 1.7em;
    cursor: pointer;
    transition: 0.3s ease;
}

header .top .bi:hover {
    background-color: var(--color2);
    color: var(--color8);
}

header .headline {
    color: var(--color2);
    font-size: 1.8em;
    padding: 10px 20px;
    text-align: right;
}

header .headline span {
    color: var(--color4);
}