@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap'); /* Font Poppins */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --color1: #4C655F;
    --color2: #09CF64;
    --color3: #353F3D;
    --color4: #FEFEFE;
    --color5: #DBDBD9;
    --color6: #282A23;
    --color7: #181912;
}

body {
    background-color: var(--color5);
}

header {
    width: 100%;
    height: 500px;
    background-color: var(--color7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}

header h1 {
    color: var(--color2);
    text-align: center;
    font-size: 3em;
    max-width: 500px;
}

header h1 span {
    color: var(--color4);
}

header p {
    color: var(--color5);
    max-width: 470px;
    text-align: center;
}

header p span {
    color: var(--color2);
}

main {
    height: auto;
    max-width: 1350px;
    margin: auto;
    padding: 20px;
}

main h2 {
    text-align: center;
    max-width: 570px;
    margin: auto;
    margin-top: 20px;
    font-style: italic;
}

main h2 #off {
    color: var(--color1);
} 

main h2 #on {
    color: var(--color2);
}

.linguagem {
    width: 100%;
    height: auto;
    background-color: var(--color4);
    margin-top: 70px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow-x: auto;
}

@media screen and (max-width: 390px) {
    .linguagem {
        justify-content: left;
        gap: 40px;
    }
}

.linguagem a {
    background-color: var(--color2);
    color: var(--color7);
    padding: 10px;
    border-radius: 20px;
    width: 130px;
    text-align: center;
    border: 2px solid var(--color7);
    transition: 0.4s;
}

.linguagem a:hover {
    background-color: var(--color7);
    color: var(--color2);
    border: 2px solid var(--color5);
}