@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap'); /* Font Poppins */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --color1: #4C655F;
    --color2: #09CF64;
    --color3: #353F3D;
    --color4: #FEFEFE;
    --color5: #DBDBD9;
    --color6: #282A23;
    --color7: #181912;
    --html: #ff4500;
}

body {
    background-color: var(--color5);
}

header {
    width: 100%;
    height: 100px;
    background-color: var(--html);
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-top: solid 2px var(--color7);
    border-bottom: solid 2px var(--color7);
    box-shadow: 0 0 5px #181912;
}

header a {
    color: var(--color4);
    background-color: var(--color7);
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid var(--color4);
    transition: 0.4s;
}

header a:hover {
    background-color: var(--color4);
    color: var(--html);
    border: 2px solid var(--color7);
}

header h1 span {
    color: var(--color4);
}

/* main */

main {
    max-width: 1350px;
    height: auto;
    margin: 100px auto 100px auto;
    padding: 20px;
}

.posts {
    max-width: 900px;
    height: auto;
    background-color: var(--color4);
    border-radius: 20px;
    margin: auto;
    padding: 20px;
}

.posts .post {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #18191241;
    padding: 10px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
}

.posts .post .img {
    width: 250px;
    height: 150px;
    background-color: var(--html);
    border-radius: 20px;
    flex-shrink: 0;
}

.posts .post .headline p {
    text-align: justify;
}

.posts .post .headline button {
    margin-top: 15px;
    padding: 4px 35px;
    background-color: var(--html);
    border: 2px solid var(--color7);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;
}

.posts .post .headline button:hover {
    background-color: var(--color7);
    color: var(--html);
    border: 2px solid var(--html);
}

footer {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: var(--color7);
}

footer h3 {
    color: var(--color4);
    text-align: center;
    padding: 20px;
}