@media screen and (max-width: 600px) {
    .posts .post {
        flex-direction: column;
    }

    .posts .post .img {
        width: 100%;
    }

    .posts .post .headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .posts .post .headline h2 {
        text-align: center;
    }
}